/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between;
	align-items: center;
	/* flex-wrap: wrap; */
}
.hero img{
	width: 400px;
	height: 200px;
	object-fit: cover;
}
.hero button{
	margin-top: 50px;
	margin-right: 40px;
	padding: 5px;
	border-radius: 2px opacity;
	background-color: red;
	/* display:flex;
	flex-direction:column; */
}

.hero h1{
	font-size:20px;
	/* display:flex;
	flex-direction:column; */
}
.hero p{
	font-size:10px;
	/* display:flex;
	flex-direction:column; */
}
.hero section{
	justify-content:space-between;
	margin: 20px;
}